
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before { content: "\e642"; }

.icon-banxing:before { content: "\e6f3"; }

.icon-xing:before { content: "\e641"; }

.icon-zan:before { content: "\e679"; }

