@CHARSET "UTF-8";

.sport_divMobile{
	min-height: 12.14rem;
}

.mobile-login-box{
	margin: 3.86rem 0.76rem 0 0.76rem;
}

.mobile-form-group{
	margin-top:0.6rem;
	height:0.5rem;
	width:100%;
}

.password-group{
	position: relative;	
}

.mobile-input{
	width: 100%;
	height: 100%;
	border: 0;
	border-bottom: 1px white solid; 
}

.mobile-input:focus{
	outline: none;
}

.mobile-btn-group{
	margin-top: 0.7rem;
}

.mobile-btn{
	width:100%;
	height:0.8rem;
	font-size:0.28rem;
	color:white;
	border-radius:0.07rem;
}

.register-btn{
	border: 1px solid white;
	background-color:transparent;
}

.or-tab{
	width: 100%;
	height: 0.80rem;
	font-size: 0.28rem;
	color: white;
	display: block;
	text-align: center;
	line-height: 0.80rem;
}

.login-btn{
	background-color: #007aff;
	border: 1px solid #007aff;
	outline: none;
}
.login-btn:active{
	border: 1px solid #007aff;
}

.mobile-forget-password{
	position: absolute;
	margin-left:-1.41rem;
	color: #c6c6c6 !important;
	font-size: 0.26rem;
}

.mobile-authCode{
	background-color:transparent;
	width:55%;
	padding-left: 0.30rem;
	font-size:0.28rem;
	color: #c5c5c5;
}

.mobileKaptchaImage{
	height:inherit;
}

.mobile-input-group-addon{
	height:100%;
	width:40%;
	display:inline-block;
	float:right;
	text-align: right;
}